{% extends "profiles/manager/base.html" %}
{% load sekizai_tags static %}
{% block manager_content %}
    <div ng-app="manager-app">
        {% verbatim %}
        <div class="row">
            <div class="col-md-6" ng-controller="ProfilesCtrl">
                <div class="list-group">
                    <div class="list-group-item profile"
                         ng-repeat="profile in profiles"
                         ng-click="setActiveProfile(profile)"
                         ng-class="{'active': profile == info.profile}">
                        {{ profile.name }}
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-controller="UsersCtrl">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="input-group">

                            <input type="text" class="form-control" ng-model="query.username"
                                   placeholder="filter users"/>

                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group" ng-show="info.profile" ng-hide="info.profile">
                    <li class="list-group-item">
                        Select profile before start to work with users
                    </li>
                </ul>


                <ul class="list-group" ng-show="info.profile">

                    <li class="list-group-item user" ng-repeat="user in users | filter:query">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        {{ user.username }}
                                    </div>
                                    <input type="text" name="passkey" class="form-control"
                                           ng-value="user.passkeys[info.profile.id]"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <div class="btn btn-default passkey" ng-click="user.regenPassword()">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </div>
                                    <div class="btn access"
                                         ng-click="user.toggleAllowed()"
                                         ng-class="{'btn-success':user.allowed[info.profile.id],
                                                    'btn-danger': !user.allowed[info.profile.id] }"
                                            >
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>
                                    <div class="btn btn-success save" ng-click="lock(user)">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endverbatim %}
    {% addtoblock "js" %}
        <script src="{% static "vendor/angular/angular.js" %}"></script>
        <script src="{% static "js/manager/app.js" %}"></script>

        <script>
            commonUrls = {
                'profiles': '{% url "api_dispatch_list" resource_name="profile" api_name='v1' %}?format=json',
                'users': '{% url "api_dispatch_list" resource_name="user" api_name='v1' %}?format=json',
                'profilepasskeys': '{% url "api_dispatch_list" resource_name="profilepasskeys" api_name='v1' %}?format=json',
            }
        </script>
    {% endaddtoblock %}
{% endblock %}