{% extends "profiles/manager/base.html" %}
{% block manager_content %}
    <div ng-app="manager-app">
        {% verbatim %}
        <div class="row">
            <div class="col-md-6" ng-controller="ProfilesCtrl">
                <div class="list-group">
                    <div class="list-group-item profile"
                         ng-repeat="profile in profiles"
                         ng-click="setActiveProfile(profile)"
                         ng-class="{'active': profile == info.profile}">
                        {{ profile.name }}
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-controller="UsersCtrl">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="input-group">

                            <input type="text" class="form-control" ng-model="query.username"
                                   placeholder="filter users"/>

                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group" ng-show="info.profile" ng-hide="info.profile">
                    <li class="list-group-item">
                        Select profile before start to work with users
                    </li>
                </ul>


                <ul class="list-group" ng-show="info.profile">

                    <li class="list-group-item user" ng-repeat="user in users | filter:query">
                        {{  }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        {{ user.username }}
                                    </div>
                                    <input type="text" name="passkey" class="form-control" ng-value="info.is_active_user(user)"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <div class="btn btn-default passkey">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </div>
                                    <div class="btn access"
                                         ng-click="lock(user)"
                                         ng-class="{'btn-success': info.is_active_user(user), 'btn-danger': !info.is_active_user(user)}"
                                            >
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>
                                    <div class="btn btn-success save" ng-click="lock(user)">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}