{% extends "base.html" %}
{% block content %}
    <div class="profiles-list">
        {% for profile in profiles %}
            <div class="profile-item">
                <div class="profile-content">

                    <h1><a href="{% url "profiles.views.profile.show_by_slug" profile.slug %}">{{ profile.name }}</a>
                    </h1>

                    <p>{{ profile.text }}</p>

                    {% if user.is_authenticated %}
                        {% if profile.pk in allowed_profiles_id %}
                            {% if user.is_superuser %}
                                <div class="profile-menu btn-group">
                                    <a type="button" class="btn btn-default"
                                       href="{% url "profiles.views.profile.update" profile.pk %}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a type="button" class="btn btn-danger"
                                       href="{% url "profiles.views.profile.remove" profile.pk %}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <div class="profile-item add">
                    <div class="profile-content">
                        <a href="{% url "profiles.views.profile.add" %}">add page</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}