{% extends "base.html" %}
{% block content %}
    <div class="profiles-list">
        <div class="profile-item">
            <div class="profile-content"></div>
        </div>
        <div class="profile-item">
            <div class="profile-content"></div>
        </div>
        <div class="profile-item">
            <div class="profile-content"></div>
        </div>
        <div class="profile-item add">
            <div class="profile-content">
                <a href="{% url "profiles.views.add" %}">add page</a>
            </div>
        </div>

    </div>
{% endblock %}