@import "const";

.profiles-list {
  $profile-menu-offset: 6px;
  .profile-item {
    width: 33.3%;
    float: left;
    padding: 0 0.5em 1em;
    .profile-content {
      position: relative;
      padding: 1em;
      display: block;
      height: 250px;
      border: 1px solid black;
      border-radius: $profile-menu-offset;
    }
    .profile-menu {
      top: $profile-menu-offset;
      right: $profile-menu-offset;
      position: absolute;
    }
  }
}

#profile-manager {
  .btn {
    @include transition(0.2s);
  }
  .user {
    @include transition(0.2s);
  }
  .profile {
    @include transition(0.1s);
    cursor: pointer;
    &:hover {
      &.active {
        background-color: #24678f;
      }
      background-color: #eeeeee;
    }
  }
}
