{% load sekizai_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% render_block "core-js" %}
    {% render_block "core-css" %}

    {% include "scripts.html" %}
    {% include "styles.html" %}

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Profiles</a>
        </div>
        <div class="navbar-form pull-right">
            {% if user.is_authenticated %}
                <a href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path }}" class="btn btn-default">
                    Logout <strong>{{ user }}</strong>
                </a>
            {% else %}
                <a href="{% url "django.contrib.auth.views.login" %}?next={{ request.path }}" class="btn btn-default">Log
                    in</a>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    {% block content %}
    {% endblock %}
</div>

{% render_block "css" %}
{% render_block "js" %}
</body>
</html>